<!--
/*
 * (C) 2014 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of Goto.Co.
 *
 * Goto.Co is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Goto.Co is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Goto.Co.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<ion-view title="About">
  <ion-content class="has-header">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <img src="img/gotoco.png"/>
      </div>
      <div class="col right-buttons">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Goto Berlin Conference Companion</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-icon positive icon ion-earth" onclick="window.open('http://bitbucket.org/0x0me/gotoco', '_system', 'location=yes');">
          http://bitbucket.org/0x0me/gotoco</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          &copy; 2014 Michael Engelhardt &lt;me@mindcrime-ilab.de&gt;
        </p>

        <p>
          This file is part of Goto.Co.
        </p>

        <p>
          Goto.Co is free software: you can redistribute it and/or modify
          it under the terms of the GNU General Public License as published by
          the Free Software Foundation, either version 3 of the License, or
          (at your option) any later version.
        </p>

        <p>
          Goto.Co is distributed in the hope that it will be useful,
          but WITHOUT ANY WARRANTY; without even the implied warranty of
          MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
          GNU General Public License for more details.
        </p>

        <p>
          You should have received a copy of the GNU General Public License
          along with Goto.Co. If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
