<!--
/*
 * (C) 2014 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of Goto.Co.
 *
 * Goto.Co is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Goto.Co is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Goto.Co.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<ion-view title="Speaker {{speaker.name}}">
  <ion-content class="has-header" style="background-color: {{track.color}};">
    <div class="card">
      <ion-item class="item-text-wrap item-avatar">
        <img src="http://www.gotocon.com/{{speaker.pictureUrl}}">
        <h2>{{speaker.name}}</h2>
        <p>{{speaker.eMail}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <a class="button button-icon icon ion-social-twitter-outline" ng-show="speaker.twitterName" ng-click="openTwitter(speaker.twitterName)">@{{speaker.twitterName}}</a>
        <div ng-bind-html="speaker.bio"></div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
