<!--
/*
 * (C) 2014 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of Goto.Co.
 *
 * Goto.Co is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Goto.Co is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Goto.Co.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<ion-view title="Track {{track.title}}">
  <ion-content class="has-header" style="background-color: {{track.color}};">
    <div class="card">
      <ion-item class="item-divider item-text-wrap item-icon-left">
        <i class="icon ion-pound" style="color:{{track.color}};"></i>
        <h2>{{track.title}}</h2>
      </ion-item>
      <session-list-item sessions="sessions"></session-list-item>
    </div>
  </ion-content>
</ion-view>
